<section role="main">
	<div>
 
 <form id="checkout" method="post" onsubmit="javascript:void(0)"> 
<!-- 	<form id="checkout" method="post" onsubmit="checkoutPayment()"> -->
	<button id="monthlyPlan" class="payment-plan btn-negative" disabled>
		<div class="payment-frequency">
			Monthly Plan
		</div>
		<div class="price">
			$10/month (USD)
		</div>		
	</button>
	<div id="payment-form"></div>
	<div class="form-buttons">
		<input type="submit" class="btn-positive" name="submit" value="Buy now">
		<a class="form-cancel" onclick="goBackFromDelete();">Cancel</a>
	</div>			
</form>
		
	</div>	
</section>
