<section role="main">
	<div id="profileDetailsDiv">
		<h1>{{translations.myProT}}</h1>

		<h2>{{translations.myProPer}}</h2>
		<form id="profileDetailsForm" ng-submit="updateProfileAng()" name="profile_details">
			<div class="form-group">
				<label>{{translations.myProFirstName}}</label>
				<input type="firstName"  ng-model="firstNameAng" placeholder={{translations.myProFirstName}}>
			</div>
			<div class="form-group">
				<label>{{translations.myProFamilyName}}</label>
				<input type="familyName" ng-model="familyNameAng" placeholder={{translations.myProFamilyName}}>
			</div>
			<div class="form-group">
				<label>{{translations.myProEmail}}</label>
				<input type="email" ng-model="emailAng" placeholder={{translations.myProEmail}}>
			</div>			
			<div class="form-group">
				<label>{{translations.myProNative}}</label>
				<input type="nativeLanguage" ng-model="nativeAng" placeholder={{translations.caS2Language}}>
			</div>	

			<a id="delt-account" href="javascript:deleteAccountShow()">{{translations.myProDelete}}</a><br><br>
								
			<button type="submit" class="btn-positive" name="submit" value="start">
				{{translations.myProSave}}
			</button>
		</form>	
		
		<h2>{{translations.myProBilling}}</h2>
		<form id="payForm" ng-submit="goToPaid()" name="profile_details">
 			<div class="form-group">
				<label>{{translations.myProPlan}}</label>
				<div id="account-type">
					<div id="account-type-text">{{translations.myProFree}}</div>
					<button type="submit" onclick="goToPaid()" class="btn-positive" name="submit" value="start" ng-class="{'hide':showUpgrade==0}">
						Upgrade to paid account
					</button>
				</div>
			</div>
		</form>

		<h2>{{translations.myProPW}}</h2> 		
 		<form id="profileDetailsChangePW" ng-submit="changePWAng()" name="change_pw">
 			<div class="form-group">
				<label>{{translations.myProOldPW}}</label>
				<input type="password" ng-model="origPWAng" placeholder={{translations.myProOldPW}}>
			</div>
			<div class="form-group">
				<label>{{translations.myProNewPW}}</label>
				<input type="password" ng-model="newPWAng" placeholder={{translations.myProNewPW}}>
			</div>
			<button type="submit" class="btn-positive" name="submit" value="start">
				{{translations.myProSaveChange}}
			</button>			
		</form>
 
	</div>
	
</section>
