<section role="main">
	<div>
		<h1 class="icon icon-conversation text-center">Part 2 - Fluency</h1>
		<h2 class="sub-text">There is 1 question in this section</h2>
		<div class="sub-section text-center">
			<p>
				In this section you will:
			</p>
			<p>
				<strong>Be shown a question which you will then record yourself answering to for 30 seconds.</strong>
				<br><br>You will have 10 seconds to read the question and plan your response. Recording will start and stop automatically. Do NOT read the question out loud. Try to speak for as long as you are being recorded. Try to express yourself fully and clearly.
			</p>

		</div>

		<nav>
			<ul>
				<li>
					<!--
					<a href="#" class="btn btn-next">Begin</a>
					-->
					<button type="submit" class="btn btn-next" onclick="nextButton(this)" name="submit">Begin</button>
				</li>
			</ul>
		</nav>

		<div class="test-progress divider">
			<ol class="steps">
				<li class="done">
					x
				</li>
				<li class="done">
					x
				</li>
				<li class="done">
					x
				</li>
				<li class="not-done">
					x
				</li>
				<li class="not-done">
					x
				</li>
				<li class="not-done">
					x
				</li>								
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="finish">
					*
				</li>
				<span>Results</span>
			</ol>
		</div>
	</div>
</section>
