<section role="main">
	<div>
		<h1 class="icon icon-conversation text-center">{{translations.assessP2InsnP2}}</h1>
		<h2 class="sub-text">{{translations.assessP2InsnThere}}</h2>
		<div class="sub-section text-center">
			<p>
				{{translations.assessP2InsnInThis}}
			</p>
			<p>
				<strong>{{translations.assessP2InsnBeShown}}</strong>
				<br><br>{{translations.assessP2InsnYouWill}}
			</p>

		</div>

		<nav>
			<ul>
				<li>
					<!--
					<a href="#" class="btn btn-next">{{translations.messagedBegin}}</a>
					-->
					<button type="submit" class="btn btn-next" onclick="nextButton(this)" name="submit">{{translations.assessP2InsnBegin}}</button>
				</li>
			</ul>
		</nav>

		<div class="test-progress divider">
			<ol class="steps">
				<li class="done">
					x
				</li>
				<li class="done">
					x
				</li>
				<li class="done">
					x
				</li>
				<li class="not-done">
					x
				</li>
				<li class="not-done">
					x
				</li>
				<li class="not-done">
					x
				</li>								
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="finish">
					*
				</li>
				<span>Results</span>
			</ol>
		</div>
	</div>
</section>
