<section role="main">
	<div>
		<h1 class="icon icon-email text-center">{{translations.assessP4InsnsComplete}}</h1>
		<p id="formInsns">			
			<br>
			{{translations.assessP4InsnsYourResults}}
		</p>
		<br>
		<button class="btn-positive" ng-click="backToMain()">
			{{translations.assessP4InsnsBack}}
		</button>
		
<!--
		<form id="emailAndDetails" onSubmit="JavaScript:sendEmailData()" name="get_results">
			<div class="form-group">
				<label>Email address to send results to:</label>
				<input type="email" name="email" placeholder="Email address for results"/>
			</div>
			<div class="form-group">
				<label>Your name:</label>
				<input type="name" name="name" placeholder="Name"/>
			</div>

			<div class="form-group">
				<label>The country where you live:</label>
				<input type="country" name="country" placeholder="Country" />
			</div>

			<div class="form-group">
				<label>Your native language:</label>
				<input type="language" name="language" placeholder="Language" />
			</div>

			<div class="form-group">
				<label>Your main reason for learning English:</label>
				<input type="reasonForLearning" name="reasonForLearning" placeholder="Reason" />
			</div>
			<button type="submit" class="btn btn-primary" name="submit" value="start">
				Submit
			</button>

		</form>
		<span id="allshow"> </p> <span id="email-send1" style="visibility:hidden"> Thank You! It usually takes 12-24 hours to review your test. We will send you an email as soon as your results are ready.
				<br>
				<br>
				<br>
			</span>
			<p id="email-send2" style="visibility:hidden">
				We have just sent a confirmation email to monty@python.co.uk. Please check it is has been received OK. If you don't see it within 5 minutes then please check your spam folder.
				<br>
				<br>
				Finally, please add the email results@fluentiq.com to your address book. This will ensure your results get through to you.
				<br>
			</p> <span id="email-send3" style="visibility:hidden">
				<br>
				Thank you for using FluentIQ</span> </span>
-->
		<div class="test-progress divider">
			<ol class="steps">
				<li class="done">
					x
				</li>
				<li class="done">
					x
				</li>
				<li class="done">
					x
				</li>
				<li class="done">
					x
				</li>
				<li class="done">
					x
				</li>
				<li class="done">
					x
				</li>
				<li class="done">
					x
				</li>
				<li class="done">
					x
				</li>
				<li class="done">
					x
				</li>
				<li class="done">
					x
				</li>
				<li class="done">
					x
				</li>
				<li class="done">
					x
				</li>
				<li class="done">
					x
				</li>
				<li class="done">
					x
				</li>
				<li class="finish">
					*
				</li>
				<span>Results</span>
			</ol>
		</div>
	</div>
</section>
