<section role="main">
	<div>
		<h1 class="icon icon-headset text-center">{{translations.hCDo}}</h1>
		<p>
			{{translations.hCIf}}
		</p>
		<p>
			{{translations.hCIfNot}}
		</p>

		<nav>
			<ul>
				<!--
				<li>
					<a href="#" class="btn btn-prev">Back</a>
				</li>
				-->
				<li>
					<!-- <a href="JavaScript:nextButton(this)" class="btn btn-next">{{translations.hCNext}}</a> -->
					<button type="submit" class="btn btn-next" onclick="nextButton(this)" name="submit">{{translations.hCNext}}</button>
				</li>
			</ul>
		</nav>

		<div class="test-progress divider">
			<ol class="steps">
				<li class="not-done">
					x
				</li>
				<li class="not-done">
					x
				</li>								
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="finish">
					*
				</li>
				<span>{{translations.hCResults}}</span>
			</ol>
		</div>
	</div>
</section>
