<section role="main">
	<div>
		<h1 class="icon icon-headset text-center">Do you have a headset?</h1>
		<p>
			If you have a headset, please connect it to your computer now before pressing Next.
		</p>
		<p>
			If you don't have a headset, that's OK. We will check your audio hardware in the next step.
		</p>

		<nav>
			<ul>
				<!--
				<li>
					<a href="#" class="btn btn-prev">Back</a>
				</li>
				-->
				<li>
					<!-- <a href="JavaScript:nextButton(this)" class="btn btn-next">Next</a> -->
					<button type="submit" class="btn btn-next" onclick="nextButton(this)" name="submit">Next</button>
				</li>
			</ul>
		</nav>

		<div class="test-progress divider">
			<ol class="steps">
				<li class="not-done">
					x
				</li>
				<li class="not-done">
					x
				</li>								
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="not-done">
					o
				</li>
				<li class="finish">
					*
				</li>
				<span>Results</span>
			</ol>
		</div>
	</div>
</section>
