<!--
<div id="main">
	<div class="layout">
		<section> -->
			<section role="main">
				<div>
					<h1 class="icon icon-clock text-center">{{translations.assessLets}}</h1>
					<p class="test-areas">
						{{translations.assessFIQ}}
					</p>
					<ul class="test-areas">
						<li class="icon icon-speech">
							<h2>{{translations.assessSpeechS}}</h2>
							<p>
								{{translations.assessRecordpara}}
							</p>
						</li>
						<li class="icon icon-conversation">
							<h2>{{translations.assessFluency}}</h2>
							<p>
								{{translations.assessRecordFS}}
							</p>
						</li>						
						<li class="icon icon-understanding">
							<h2>{{translations.assessComprehension}}</h2>
							<p>
								{{translations.assessListAudio}}
							</p>
						</li>
						<li class="icon icon-listening">
							<h2>{{translations.assessListAccuracy}}</h2>
							<p>
								{{translations.assessListAudioType}}
							</p>
						</li>						
					</ul>
					<button type="submit" id="start-button" class="btn btn-next" onclick="nextButton(this)" name="submit" value="start">{{translations.assessGetStarted}}</button>
				</div>
				<!--
				<form onSubmit="JavaScript:continueFormNew()" name="get_started">
					<input type="email" name="email" placeholder="Email address for results" />
					<input type="submit" name="submit" value={{translations.assessGetStarted}}
					
				</form>
				-->
			</section>
<!--			
		</section>
	</div>
</div>
-->
