<!--
<div id="main">
	<div class="layout">
		<section> -->
			<section role="main">
				<div>
					<h1 class="icon icon-clock text-center">Let's assess your English!</h1>
					<p class="test-areas">
						FluentIQ assesses your English communication skills. It takes about 10 to 15 minutes and is split into 4 areas:
					</p>
					<ul class="test-areas">
						<li class="icon icon-speech">
							<h2>Speech Sounds</h2>
							<p>
								Record yourself reading a short paragraph.
							</p>
						</li>
						<li class="icon icon-conversation">
							<h2>Fluency</h2>
							<p>
								Record yourself speaking on a given topic.
							</p>
						</li>						
						<li class="icon icon-understanding">
							<h2>Comprehension</h2>
							<p>
								Listen to audio clips of people speaking and answer some multiple choice questions.
							</p>
						</li>
						<li class="icon icon-listening">
							<h2>Listening Accuracy</h2>
							<p>
								Listen to audio clips of people speaking and type what you hear.
							</p>
						</li>						
					</ul>
					<button type="submit" id="start-button" class="btn btn-next" onclick="nextButton(this)" name="submit" value="start">Get Started</button>
				</div>
				<!--
				<form onSubmit="JavaScript:continueFormNew()" name="get_started">
					<input type="email" name="email" placeholder="Email address for results" />
					<input type="submit" name="submit" value="Get started" />
					
				</form>
				-->
			</section>
<!--			
		</section>
	</div>
</div>
-->
